<main class="flex justify-between w-full h-screen">
  <section class="flex-1 bg-zinc-950 hidden md:block"></section>
  <section class="bg-white w-[28rem] p-12 relative">
    <img src="/assets/icons/angular.icon.png" class="w-24 mb-8" />

    <div class="flex text-sm font-medium text-zinc-600">
      <button
        class="flex-1 border-b py-2 duration-100"
        [ngClass]="{
          'border-violet-800 text-violet-800': activeTab === 'signin'
        }"
        (click)="changeTab('signin')"
      >
        Sign in
      </button>
      <button
        class="flex-1 border-b py-2 duration-100"
        [ngClass]="{
          'border-violet-800 text-violet-800': activeTab === 'register'
        }"
        (click)="changeTab('register')"
      >
        Register
      </button>
    </div>

    @if (activeTab === 'signin') {
    <section class="mt-8">
      <app-login-form />

      <div class="flex items-center my-6">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="px-4 text-gray-500 text-xs">OR</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>

      <div class="flex gap-3">
        <button
          class="flex-1 flex gap-3 justify-center items-center border border-zinc-300 h-11 text-sm rounded font-medium text-zinc-600"
        >
          <img src="/assets/icons/google.icon.png" class="w-4" />
          <span>Google</span>
        </button>
        <button
          class="flex-1 flex gap-3 justify-center items-center border border-zinc-300 h-11 text-sm rounded font-medium text-zinc-600"
        >
          <img src="/assets/icons/github.icon.png" class="w-4" />
          <span>GitHub</span>
        </button>
      </div>

      <p
        class="absolute bottom-8 left-1/2 -translate-x-1/2 text-xs text-zinc-400"
      >
        <span class="underline text-zinc-500">Terms of Service</span>
        and
        <span class="underline text-zinc-500">Privacy Policy</span>
      </p>
    </section>
    } @else if (activeTab === 'register') {
    <section>Register</section>
    }
  </section>
</main>
